In [2]:
import data
data.load_data()

In [ ]:
sql = '''
CREATE TABLE IF NOT EXISTS youbike(
	_id Serial Primary Key,
    sna VARCHAR(50) NOT NULL,
	sarea VARCHAR(50),
    ar VARCHAR(100),
	mday timestamp,
	updateTime timestamp,
	total SMALLINT,
	rent_bikes SMALLINT,
	retuen_bikes SMALLINT,
	lat REAL,
	lng REAL	
);
'''

In [1]:
import psycopg2
conn = psycopg2.connect("gresql://tvdi_et5g_user:rO4f8W7mB0kylH1UvACmrEKJSrznix20@dpg-cpscs956l47c73e3h0bg-a.singapore-postgres.render.com/tvdi_et5g")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql = '''
            CREATE TABLE IF NOT EXISTS youbike(
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp,
            total SMALLINT,
            rent_bikes SMALLINT,
            retuen_bikes SMALLINT,
            lat REAL,
            lng REAL	
        );
        '''
        cursor.execute(sql)
    
conn.close()

In [3]:
import psycopg2
conn = psycopg2.connect("gresql://tvdi_et5g_user:rO4f8W7mB0kylH1UvACmrEKJSrznix20@dpg-cpscs956l47c73e3h0bg-a.singapore-postgres.render.com/tvdi_et5g")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql = '''
            CREATE TABLE IF NOT EXISTS youbike(
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp,
            total SMALLINT,
            rent_bikes SMALLINT,
            return_bikes SMALLINT,
            lat REAL,
            lng REAL,
            act boolean
        );
        '''
        cursor.execute(sql)
    
conn.close()